body {
    font: Arial, Helvetica, sans-serif;
   
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
}
   


button {
    border-radius: 50%;
    padding: 15px;
    font-weight: bold;
    font: Arial, Helvetica, sans-serif;
    box-shadow: 3px 5px 9px #453542;
    cursor: pointer;
}

body {
	font: Arial, Helvetica, sans-serif;
   
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
}